.venv/
__pycache__/
*.py[cod]

input/*
!input/.gitkeep
!input/AVTC/
!input/AVTC/.gitkeep
!input/RAKEN/
!input/RAKEN/.gitkeep

output/*
!output/.gitkeep
!output/AVTC/
!output/AVTC/.gitkeep
!output/RAKEN/
!output/RAKEN/.gitkeep

# Ignore real input/output Excel files under customer folders
input/AVTC/*
input/RAKEN/*
output/AVTC/*
output/RAKEN/*

# Keep folder placeholders
!input/AVTC/.gitkeep
!input/RAKEN/.gitkeep
!output/AVTC/.gitkeep
!output/RAKEN/.gitkeep
