.venv/
__pycache__/
*.py[cod]

input/*
!input/.gitkeep
!input/AVTC/
!input/AVTC/.gitkeep
!input/RAKEN/
!input/RAKEN/.gitkeep

output/*
!output/.gitkeep
!output/AVTC/
!output/AVTC/.gitkeep
!output/RAKEN/
!output/RAKEN/.gitkeep
